.meet-navbar {
  height: 5%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.meet-navbar img {
  width: 5.05vw;
  position: absolute;
  padding-bottom: 4px;
  left: 34px; /* 로고를 왼쪽으로 고정 */
}
.meet-navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  gap: 3.6vw;
}
.meet-icon-container {
  width: 2.08vw;
  height: 5.66vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meet-board {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  background-image: url("/images/meet_board.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.meet-leave {
  width: 8.3vw;
  cursor: pointer;
  position: absolute;
  background-image: url("/images/meet_leave.png");
  background-size: contain;
  background-repeat: no-repeat;
  right: 15px;
}

/* 카메라 */
.video-container {
  position: relative;
  width: 100vw;
  height: 94vh;
}

.main-video {
  width: 100%;
  height: 100%;
  position: relative; /* 사이드바 기준이 됨 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

/* 참가자 뜨는 사이드바 */
.video-sidebar {
  position: absolute;
  top: 1vw;
  right: 1.4vw;
  width: 16.7vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  background: #333;
  border-radius: 0.5vw;
  box-sizing: border-box;
  overflow-y: auto;
  padding-top: 0.5vw;
  align-items: center;
  z-index: 10; /* 위로 올라오게 */
}

.video-off {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #f2f5f7 0%,
    #ffd9ec 40%,
    #eaffee 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jamsil_M";
  font-size: 1.5vw;
  text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}

/* 참가자 화면 */
.video-box {
  position: relative;
  width: 15.1vw;
  height: 8.3vw;
  border-radius: 0.5vw;
  overflow: hidden;
}
.video-box video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(0.8);
  transform: scaleX(-1);
  transform-origin: center;
}

/* 회의록 */
.minutes-container-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 31.3vw;
  height: 45.8vw;
  transition: transform 0.4s ease;
  z-index: 1000;
}

.slide-in {
  transform: translateX(0);
}

.slide-out {
  transform: translateX(-100%);
}

.minutes-toggle-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 3vw;
  height: 3vw;
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: center;
  cursor: pointer;
}
.Transtab-container{
  position: absolute;
  top: 1.3vw;
  left: 9.4vw;
  display: flex;
  width: 10.4vw;
  height: 2.1vw;
  border: 1px solid #EFEFEF;
  border-radius: 30px;
  background:  rgba(255, 255, 255, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 3000; /* 충분히 위로 올라오게 */
}
.transtab {
  width: 4.6vw;
  height: 1.6vw;
  font-size: 0.95rem;
  background: none;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  color: black;
  font-family: "Jamsil_R";
  font-size: 1vw;
}

.transtab.selected {
  background: #3572EF;
  color: white;

}

/* Rnd  */
.rnd-wrapper {
  overflow: visible;
}

/* DolAi 토글 아이콘 */
.dolai-toggle-icon {
  position: absolute;
  top: 2.1vw;
  right: 5vw;
  width: 3.4vw;
  height: 3.1vw;
  cursor: pointer;
  z-index: 1001;
  transform: translateY(-50%);
}

.dolai-icon-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* AI 채팅창 오버레이 스타일 */
.dolai-chat-overlay {
  position: absolute;
  top: 2.1vw;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.6);
  border-radius: 0.83vw;
  transition: height 0.3s ease;
  z-index: 1000;
}
.dolai-chat-overlay.open {
  height: calc(100% - 2.1vw);
}


/* 그래프 */
.graph-container-wrapper {
  position: absolute;
  top: 1.5vw;
  right: 0;
  width: 31.3vw;
  height: 45.8vw;
  transition: transform 0.4s ease;
  border: 1px solid #EFEFEF;
  background: linear-gradient(135deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 60px;
  z-index: 1000;
}
.graph-container-wrapper.slide-in {
  transform: translateX(0);
}

.graph-container-wrapper.slide-out {
  transform: translateX(100%);
}

.graph-toggle-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
  width: 3vw;
  height: 3vw;
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: center;
  cursor: pointer;
}