.meet-navbar {
  height: 5%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.meet-navbar img {
  width: 5.05vw;
  position: absolute;
  padding-bottom: 4px;
  left: 34px; /* 로고를 왼쪽으로 고정 */
}
.meet-navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  gap: 3.6vw;
}
.meet-icon-container {
  width: 2.08vw;
  height: 5.66vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meet-board {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  background-image: url("../images/meet_board.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.meet-leave {
  width: 8.3vw;
  cursor: pointer;
  position: absolute;
  background-image: url("../images/meet_leave.png");
  background-size: contain;
  background-repeat: no-repeat;
  right: 15px;
}

/* 카메라 */
.video-container {
  display: flex;
  width: 100vw;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-box {
  width: 40%;
  height: 40%;
  object-fit: cover;
  transform: scaleX(-1);
}

.minutes-container-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 31.3vw;
  height: 45.8vw;
  transition: transform 0.4s ease;
  z-index: 5;
}

.slide-in {
  transform: translateX(0);
}

.slide-out {
  transform: translateX(-100%);
}

.minutes-toggle-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  width: 3vw;
  height: 3vw;
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: center;
  cursor: pointer;
}

/* Rnd  */
.rnd-wrapper {
  overflow: visible;
}

/* DolAi 토글 아이콘 */
.dolai-toggle-icon {
  position: absolute;
  top: 2.1vw;
  right: 5vw;
  width: 3.4vw;
  height: 3.1vw;
  cursor: pointer;
  z-index: 1001;
  transform: translateY(-50%);
}

.dolai-icon-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* AI 채팅창 오버레이 스타일 */
.dolai-chat-overlay {
  position: absolute;
  top: 2.1vw;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.6);
  border-radius: 0.83vw;
  transition: height 0.3s ease;
  z-index: 1000;
}
.dolai-chat-overlay.open {
  height: calc(100% - 2.1vw);
}


/* 그래프 */
.graph-container-wrapper {
  position: absolute;
  right: 0;
  width: 31.3vw;
  height: 45.8vw;
  transition: transform 0.4s ease;
  z-index: 5;
  border: 1px solid #EFEFEF;
  background: linear-gradient(135deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 60px;
  z-index: 10;
}
.graph-container-wrapper.slide-in {
  transform: translateX(0);
}

.graph-container-wrapper.slide-out {
  transform: translateX(100%);
}

.graph-toggle-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  width: 3vw;
  height: 3vw;
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: center;
  cursor: pointer;
}