
  
  /* Requests Card */
  .requests-middle-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 20px;
    border: 1px solid #b1b1b1;
    padding: 2vw 2.6vw;
    overflow-y: auto;
  }
  .requests-content {
    margin-top: 53px;
    max-height: 500px; /* 또는 원하는 고정 높이 (예: 500px) */
    overflow-y: auto;  /* 내용이 넘어가면 스크롤바 표시 */
  }
  .requests-card {
    background: white;
    border-radius: 20px;
    padding: 24px;
    min-height: 60vh;
  }
  .requests-card-header {
    display: flex;
    align-items: center;
  }
  .requests-header {

    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  .divider {
    height: 1px;
    background-color: #dcdcdc;
    margin: 16px 0;
  }
  .divider-small {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }
  
  /* Section Headers */
  .section-header {
    font-size: 1.25rem;
    font-family: "Jamsil_R";
    margin-bottom: 12px;
  }
  
  /* Request Items */
  .request-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid #dcdcdc;
  }
  .request-item:last-child {
    border-bottom: none;
  }
  .item-info {
    display: flex;
    align-items: center;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .item-text {
    margin-left: 16px;
  }
  .item-name {
    font-size: 20px;
    font-family: "Jamsil_R";
  }
  .item-email {
    font-size: 0.875rem;
    color: #505050;
    font-family: "Jamsil_R";
  }
  
  /* Actions */
  .item-actions {
    display: flex;
    gap: 8px;
  }
  
  /* Accept and Reject Buttons */
  .request-accept-btn {
    height: 40px;
    width: 81px;
    background-color: #217aff;
    color: white;
    font-weight: 600;
    font-size: 16px;
    font-family: "Jamsil_R";
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .request-reject-btn {
    margin-right: 33px;
    font-size: 16px !important;  /*확인해야됨*/ 
    font-family: "Jamsil_R";
    height: 40px;
    width: 81px;
    background-color: white;
    color: #505050;
    font-weight: 600;
    
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Delete Icon */
  .delete-icon {
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
  
  .empty-message {
    font-size: 1rem;
    color: #505050;
    font-family: "Jamsil_R";
  }

  .section-block {
    margin-bottom: 15.6vw; /* 각 요청 섹션 사이 여백 */ /*300px*/   
  }
  .divider {
    height: 1px;
    background-color: #dcdcdc;
    margin: 16px 0;
  }
  
  .divider-small {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0; /* 필요에 따라 조정 */
  }
  