  .requests-content {
    margin-top: 2.6vw;
    max-height: 100%;
    overflow-y: auto;  /* 내용이 넘어가면 스크롤바 표시 */
  }
  .requests-header {
    display: flex;
    align-items: center;
    font-size: 1.6vw;
    font-family: "Jamsil_B";
    cursor: pointer;
    gap: 0.8vw;
  }
  /* Section Headers */
  .section-header {
    font-size: 1vw;
    font-family: "Jamsil_R";
    margin-bottom: 0.5vw;
  }
  
  /* Request Items */
  .request-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 0;
    position: relative; /* ::after를 위한 설정 */
  }
  
  .request-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 2.6vw;
    height: 1px;
    background-color: #dcdcdc;
  }
  
  .item-info {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .avatar {
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 10px;
    overflow: hidden;
  }
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .item-text {
    margin-left: 16px;
  }
  .item-name {
    font-size: 1vw;
    font-family: "Jamsil_R";
    color: black;
  }
  .item-email {
    font-size: 0.8vw;
    color: #505050;
    font-family: "Jamsil_R";
  }
  
  /* Actions */
  .item-actions {
    display: flex;
    gap: 0.5vw;
    margin-right: 0.7vw;
  }
  
  /* Accept and Reject Buttons */
  .request-accept-btn {
    height: 2.1vw;
    width: 4.2vw;
    background-color: #3572EF;
    color: white;
    font-size: 0.8vw;
    font-family: "Jamsil_R";
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .request-reject-btn {
    margin-right: 33px;
    font-size: 0.8vw !important;  /*확인해야됨*/ 
    font-family: "Jamsil_R";
    height: 2.1vw;
    width: 4.2vw;
    background-color: #F2F5F7;
    color: #505050;    
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Delete Icon */
  .delete-icon {
    width: 1.4vw;
    height: 1.4vw;
    cursor: pointer;
    margin-right: 3vw;
  }
  
  .empty-message {
    font-size: 0.9vw;
    color: #757575;
    font-family: "Jamsil_R";
    margin-top: 1vw;
    margin-left: 0.3vw;
  }

  .section-block {
    height: 15.6vw; /* 각 요청 섹션 사이 여백 */ /*300px*/   
    margin-bottom: 1.6vw;
  }
  