.meet-friend-popup {
  position: absolute;
  width: 31.3vw;
  height: 36.5vw;
  top: 6.7vw;
  left: 34.4vw;
  background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.5) 8%,
    rgba(183, 183, 183, 0.5) 100%
  );
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
  border-radius: 60px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
.link-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  font-size: 0.8vw;
  font-family: "Neo_E";
  transition: color 0.2s ease-in-out;
  margin-top: 2vw;
  margin-left: 22vw;
  margin-bottom: 0.6vw;
  gap : 0.5vw;
}
.link-container:hover {
  color: #cccccc;
}
.link-icon {
  width: 1.3vw;
  height: 1.3vw;
}

/* 검색 컨테이너 */
.meet-friend-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  width: 26.6vw;
  height: 2.6vw;
  border-radius: 22px;
  margin-left: auto;
  margin-right: auto;
}
/* 검색 아이콘 */
.meet-friend-search-icon {
  width: 1.5vw;
  height: 1.6vw;
  padding-left: 1vw;
  color: black;
  cursor: pointer;
}
.meet-friend-search {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1vw;
  font-family: "Neo_B";
  padding-left: 0.8vw;
  color: black;
}

/* 친구 목록 */
.meet-friend-list {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.meet-friend-item {
  width: 26.6vw;
  height: 4.1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.meet-friend-profile {
  width: 2.8vw;
  height: 2.8vw;
  border-radius: 50%;
  background-color: #d9d9d9; /* 프로필 이미지 없을 때 배경색 */
  overflow: hidden;
  margin-inline-start: 0.9vw;
}
/* 친구 컨테이너 */
.meet-friend-info {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  flex: 1;
}
.meet-friend-name {
  font-size: 1vw;
  font-family: "Jamsil_M";
  color: black;
}
.meet-friend-email {
  font-size: 0.7vw;
  font-family: "Neo_R";
  padding-top:0.2vw;
  color: black;
}

.meet-invite-btn {
  width: 3.9vw;
  height: 2vw;
  background: black;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 0.8vw;
  font-family: "Jamsil_R";
  margin-right: 0.9vw;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.meet-invite-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}