/* 최근 회의 */
.card {
  width: 90%;
  height: 7.03vh; /* 72px */
  background: #F2F5F7;
  border: solid 1px #B2B2B2;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1.27vh;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}
/* todo */
.todo-delete-button {
  background: transparent;
  border: none;
  color: #888;
  font-size: 1vw;  /* meeting-title과 맞추기 */
  cursor: pointer;
  padding: 0;
  margin-left: 0.5vw;
  transition: color 0.2s ease;
  margin-right: 1vw;
}

.todo-card {
  position: relative;    /* 절대 위치 기준 요소로 만들어 주고 */
  overflow: visible;     /* 자식 엘리먼트의 오버플로우 허용 */
  width: 90%;
  height: 8.79vh; /* 약 90px */
  background: #F2F5F7;
  border: solid 1px #B2B2B2;
  border-radius: 10px;
  margin-bottom: 1.95vh;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in-out;

  /* 내용이 넘칠 때 세로 스크롤바 표시 */
  overflow-y: auto;
  /* 가로 스크롤 숨기기 */
  overflow-x: hidden;
}

/* 기존 체크박스 스타일 제거 */
.todo-card input[type="checkbox"] {
  display: none;
}

/* 상태 표시 원(circle) */
.todo-status {
  width: 1vw;             /* 가로 길이만 지정 */
  aspect-ratio: 1 / 1;    /* 1:1 비율 강제 */
  border-radius: 50%;
  margin-left: 1vw;
  margin-right: 1.3vw;
  cursor: pointer;
  transition: background-color 0.2s ease
}

/* todo 모달창 */
.status-menu {
  width: 7.3vw;
  height: 9.1vw;
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #B2B2B2;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding-top: 0.8vw;
  padding-left: 0.5vw;
  gap: 0.8vw;
  box-sizing: border-box;
}

.meeting-content {
  display: flex;
  padding: 2vh;
  justify-content: space-between; /* 양쪽 정렬 */
  width: 100%;
}
.todo-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.meeting-title {
  font-family: "Jamsil_R";
  font-size: 1vw; /* 약 20px */
  color:black;
}
.meeting-date {
  font-family: "Jamsil_R";
  font-size: 0.7vw; /* 약 14px */
  color: #757575;
  text-align: right;
  padding-top : 1%;
}
  
.todo-time {
  font-family: "Jamsil_R";
  font-size: 0.7vw; /* 약 14px */
  color: #757575;
  padding-bottom: 1%;
}