/* 모달 전체 오버레이 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* 모달 창 */
.modal {
  background: white;
  border-radius: 12px;
  width: 400px;
  text-align: center;
}

/* 제목 */
.modal h2 {
  margin-bottom: 1.5vw;
  font-size: 2vw;
}

/* 입력창 스타일 */
.modal input[type="text"] {
  width: 100%;
  padding: 1vw;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1vw;
}

.set-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  gap: 2.3vw;
}
.set-add-btn {
  width: 7vw;
  height: 2.5vw;
  background: #2E7AF2;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9vw;
  font-family: "Jamsil_M";
}
.set-close-btn {
  width: 7vw;
  height: 2.5vw;
  border: 2px solid #2E7AF2;
  background: transparent;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9vw;
  font-family: "Jamsil_M";
}
