/* 여백 제거 */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* 폰트 적용 */
@font-face {
  font-family: "Jamsil_L";
  src: url("/fonts/Jamsil_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jamsil_R";
  src: url("/fonts/Jamsil_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jamsil_M";
  src: url("/fonts/Jamsil_Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jamsil_B";
  src: url("/fonts/Jamsil_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* 영문에 사용할 폰트 */
@font-face {
  font-family: "Neo_R";
  src: url("/fonts/Neo_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neo_B";
  src: url("/fonts/Neo_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neo_E";
  src: url("/fonts/Neo_Extra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Seoleim";
  src: url("/fonts/SEOLEIM.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}